a {
  color: #00A;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0px;
}

body {
  margin: 0px;
  background-color: #dce6e6;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#main {
  border-style: none solid solid solid;
  border-width: 1px;
  border-color: #EEE;
  max-width: 800px;
  margin: 0px auto;
  text-align: center;
  background-color: white;
}


#topNav {
  padding: 6px 10px;
  margin: 0px 40px;
  border-style: none solid solid solid;
  border-width: 1px;
  overflow: hidden;
  display: inline-block;
}

#topNav .link {
  float: left;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 30px;
  padding: 0px 20px;
}

#topNav .first {
  padding-left: 0px;
}

#topNav .ornament {
  font-family: "Apple Chancery", "Zapf Chancery", cursive;
  font-size: 17px;
  vertical-align: 7px;
  padding: 0px 3px;
}

#content {
  display: inline-block;
  width: 90%;
  margin: 20px 0px;
  text-align: left;
}

.imageRight {
  float: right;
  margin-left: 10px;
}

.expandableSection {
  display: none;
}